

         body {
             width: 100%;
             background-color: wheat;
             margin: 0 auto;
             length: 700px
             



         }
         #container {
             width:100%;
             padding: 0px;
         }
         h1 {
             font-family: cursive;
             text-align: center;
             font-size: 40px;
         }
         p {
             text-align: center;
             font-size: 15px;
             color: black;
             font-family:Georgia, 'Times New Roman', Times, serif;
         }
         #information {
             text-align: left

         }
         ul {
             list-style-type: circle;
             font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         }
         form {
             
         }
         button {
             width: 60px;
             height: 25px;
         }
         input{
             height:25px;
             width: 90px;
         }
        h4{
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif ;
        }
        #card {
            height:5rem;
        }
